<!-- ======= About Section ======= -->
<section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("static/assets/img/about.jpg");'>
            <a target="_blank" href="https://www.youtube.com/watch?v=MAUf3i_7bdE" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
            <div class="content">
                <h3>Мы попадаем прямо в сердце &#129505<br><strong>Вы точно захотите вернуться</strong></h3>
              <ul><br>
                  {% for about in about_us %}
                      <h5>{{ about.info_about_us | linenumbers | linebreaksbr }}</h5>
                  {% endfor %}
            </div>
        </div>
      </div>
      </div>
</section>
<!-- End About Section -->