<section id="gallery" class="gallery">
<div class="section-title">
      <h2>Some photos from <span>Our Restaurant</span></h2>
      <p>Become a part of our happy moments<br>Стань частью наших счастливых моментов</p>
    </div>

  <div class="container-fluid">
      {% for image in gallery %}
                <span class="gallery-item">
                  <a href="{{ image.photo.url }}" class="gallery-lightbox">
                    <img src="{{ image.photo.url }}" alt="" class="img-fluid" width="300px">
                  </a>
                </span>
      {% endfor %}
    </div>

  </div>
</section>
<!-- End Gallery Section -->